<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Bienvenida</a>
    </li>

    <ng-container *ngIf="!userLogged">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Inicio de sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registrarse</a>
      </li>
    </ng-container>

    <ng-container *ngIf="userAdmin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/seccionadmin">Sección Administrador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/estadisticas">Estadisticas</a>
      </li>
    </ng-container>

    <ng-container *ngIf="userLogged">
      <li class="nav-item">
        <a class="nav-link" routerLink="/miperfil">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/misturnos">Mis Turnos</a>
      </li>

      <div *ngIf="userLogged.rol === 'admin' || userLogged.rol === 'paciente'" class="ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sacarturno">Sacar turno</a>
        </li>
      </div>
      <div *ngIf="userLogged.rol === 'especialista'" class="ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pacientes">Pacientes</a>
        </li>
      </div>
    </ng-container>
  </ul>

</nav>
