
  @for (especialista of especialistas; track $index) {

    <p>Apellido: {{ especialista.apellido }}</p>
    <p>DNI: {{ especialista.dni }}</p>
    <p>Edad: {{ especialista.edad }}</p>
    <p>Especialidad: {{ especialista.especialidad }}</p>
    <p>Email: {{ especialista.mail }}</p>
    <p>Nombre: {{ especialista.nombre }}</p>
    <div [style.background-color]="especialista.esAceptado ? 'green' : 'red'" style="width: 20px; height: 20px;"></div>
    <button (click)="toggleAceptado(especialista)">
      {{ especialista.esAceptado ? 'Rechazar' : 'Aceptar' }}
    </button>
    <hr>
  }

