<div class="container">
  <div class="row mt-5">
    <!-- Botones de acceso rápido para usuarios -->
    <div class="col-md-4">
      <div class="d-flex flex-wrap justify-content-around">
        <div *ngFor="let user of users" class="user-button-container">
          <button class="btn btn-secondary profile-button" (click)="quickLogin(user.role.toLowerCase())">
            <img *ngIf="user.fotoUrl" [src]="user.fotoUrl" alt="Imagen de Perfil" class="profile-image">
          </button>
          <div class="text-center mt-2">{{ user.role }}</div>
        </div>
      </div>
    </div>

    <!-- Formulario de inicio de sesión -->
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Iniciar Sesión</h3>
          <form (ngSubmit)="login()" appEnterClick>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
